.today-cartproduct {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #2b2b2b;
  .contenedoritem {
    width: 100%;
    padding: 2em;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .cart-card{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      img{
        width: 100px;
      }
    }
  }

}
