.today-aboutusmin{
    width: 100%;
    background-image:url('./../../../../../assets/img/background-gengar.png');
    min-height: 710px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    .contain-aboutmin{
        width: 100%;
    }
}