:root{
  background-color: #F2F5FA;
  font-family:'Poppins', sans-serif;
  color: #F2F5FA;

  body{
      margin: 0;
      color: #F2F5FA;
  }

  p{
      margin: 0 auto;
  }
  a{
      text-decoration: none;
      color: inherit;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
} 