:root {
  background-color: #2b2b2b;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  color: #f2f5fa;

  body {
    margin: 0;
    background-color: #2b2b2b;
    color: #f2f5fa;
    font-family: "Poppins", sans-serif;
  }

  p {
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}
